[user]
	name = vinicasanova
	email = dukeofgod@outlook.com
[alias]
  co=checkout
  br=branch
  ci=commit
  st=status
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  who = shortlog -s --
[core]
  editor = nvim
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
[push]
  default = matching
[pull]
	rebase = true
[init]
	defaultBranch = main
